*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
trunk/tcc/build/web/casos_usos/2014-11-04_14.jpg14.jpg
trunk/tcc/build/web/gfv3ee6.dpf
*.jpg
trunk/tcc/build/web/WEB-INF/casos_usos/2014-11-29_mesdasmaes.png
*.png
